Repository nuxeo/nuxeo-web-ui, pull requests merged in 2023-12, with the labels that each got.

#2034 WEBUI-1318: nuxeo-data-grid cards navigable when using a keyboard
  elements/nuxeo-results/nuxeo-default-results.js
  elements/nuxeo-results/nuxeo-document-content.js
  elements/nuxeo-results/nuxeo-document-trash-content.js
  elements/search/default/nuxeo-default-search-results.html
  elements/search/document_picker/nuxeo-document_picker-search-results.html
  elements/search/expired/nuxeo-expired-search-results.html
  elements/search/nxql/nuxeo-nxql-search-results.html
  elements/search/trash/nuxeo-trash-search-results.html
Labels: 3.1.x

#2033 WEBUI-1318: nuxeo-data-grid cards navigable when using a keyboard
  elements/nuxeo-results/nuxeo-default-results.js
  elements/nuxeo-results/nuxeo-document-content.js
  elements/nuxeo-results/nuxeo-document-trash-content.js
  elements/search/default/nuxeo-default-search-results.html
  elements/search/document_picker/nuxeo-document_picker-search-results.html
  elements/search/expired/nuxeo-expired-search-results.html
  elements/search/nxql/nuxeo-nxql-search-results.html
  elements/search/trash/nuxeo-trash-search-results.html
Labels: 3.0.x

#2060 WEBUI-1326: Need to update retention ftest features for NodeJS 18
  packages/nuxeo-web-ui-ftest/features/step_definitions/document.js
  packages/nuxeo-web-ui-ftest/features/step_definitions/support/fixtures/layouts.js
  packages/nuxeo-web-ui-ftest/pages/ui/browser.js
Labels: nuxeo-retention

#2058 WEBUI-1333: ftest nuxeo spreadsheet addon into async
  addons/nuxeo-spreadsheet/ftest/features/step_definitions/spreadsheet.js
  addons/nuxeo-spreadsheet/ftest/pages/spreadsheet.js
  packages/nuxeo-web-ui-ftest/pages/ui/browser.js
  packages/nuxeo-web-ui-ftest/pages/ui/results.js
Labels: nuxeo-spreadsheet
